html, body {
	width: 350px;
	background: #f9f9f9;
}

a {
	margin: 10px;
	display: block;
	color: #15141a;
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	html, body {
		background: #23242d;
	}

	a {
		color: #d7c6c6;
	}
}

.panel {
	margin: 5px;
}

.hidden {
	display: none !important;
}
